.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    max-width: 100%;
    height: 100vh;


    background: #1a1d23;    
}

.post {
    max-width: 720px;
    margin: 0 auto 0;
    padding: 5rem 0;

    h1 {
        font-size: 3.5rem;
        font-weight: 900;
        color: #fff;
        
    }

    time {
        font-size: 1rem;
        margin-top: 1.5rem;
        color: #fff;
    }

    .postContent {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;

        color: #fff;
    }

    @media(max-width:58.75rem){
        h1{
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .postContent {
            margin-bottom: 2rem;
        }
    }

}