.container {
    max-width: 100%;
    height: 100vh;


    background: #1a1d23;    
}

.posts {
    max-width: 720px;
    margin: 0 auto 0 ;
    padding: 5rem 0;

    a {
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid #29292e;
        }

        time {
            font-size: 1rem;
            display: flex;
            align-items: center;

            color: #a8a8b3;
        }

        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 2rem;
            transition: color 0.2s;

            color: #ffffff;  
        }

        p {
            margin-top: 0.5rem;
            line-height: 1.625rem;

            color: #a8a8b3;
        }

        &:hover strong {
            color: #ff57b2;
        }

    }

    
}