.headerContainer {
    height: 5rem;
    border-bottom: 0.0625rem solid #29292e;

    background: #1A1D23;
    color: #ffffff;


}

.headerContent {
    max-width: 70rem;
    height: 5rem;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;


    nav {
        margin-left: 5rem;
        height: 5rem;

        a {
            
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            
            transition: filter 0.2s;

            

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                filter: brightness(0.8);
              }   


            &.active {
                color: #ffff;
                font-weight: bold;   
            }

            &.active::after {
                content: "";
                height: 0.1875rem;
                border-radius: .1875rem .1875rem 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: #ff57b2;
            }
        }

    }

    img{
        width: 18rem;
        cursor: pointer;
    }
  
}


