.sectionContainer {
    background: #fff;

    @media (max-width: 650px) {
        width: 683px;
    }
}
.contentContainer {
    text-align: center;
    padding: 20px 0;
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
}