.sectionContainer {
    background: #fff;

    @media(max-width: 650px) {
        width:683px;
    }

}

.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;

    justify-content: space-around;

    @media(max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5rem 0;
    }
}

.imageContainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    // @media(max-width: 900px) {
    //     width: 70%;
    // }

    img {
        width: 100%;
    }
}

.textContainer {
    width: 50%;
    padding: 8rem 0;

    @media(max-width: 900px) {
        padding: 0;
        margin: 0;
        width: 75%;
    }


    h1 {
        color: #323238;
        font-size: 32px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        color: #323238;

        span {
            color: #f9c143;
            font-weight: bold;
        }
    }
}