.sectionContainer {
    background: #fff;

}

.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;

    justify-content: space-around;
}

.imageContainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    img {
        width: 100%;
    }
}

.textContainer {
    width: 50%;
    padding: 8rem 0;


    h1 {
        color: #323238;
        font-size: 32px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        color: #323238;

        span {
            color: #f9c143;
            font-weight: bold;
        }
    }
}