.sectionContainer {
  background: #1a1d23;

  @media (max-width: 650px) {
    width: 683px;
  }
}

.contentContainer {
  max-width: 1120px;
  align-items: center;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;

  padding: 100px 0;

  @media(max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.textContainer {
  color: white;
  margin-bottom: 50px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.textIcon {
  color: #ff2359;
  max-width: 252px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  span {
    font-size: 24px;
    color: #ff2359;

    display: flex;
    align-items: center;
  }
}
